{:aliases {:repl {:extra-deps {nrepl {:mvn/version "0.5.3"}
                               proto-repl {:mvn/version "0.3.1"}
                               cider/cider-nrepl {:mvn/version "0.18.0"}}
                  :main-opts ["-m" "nrepl.cmdline"
                              "--interactive"
                              "--middleware" "[nrebl.middleware/wrap-nrebl]"]}
           :nrebl {:extra-deps {rickmoynihan/rebl.middleware {:local/root "../nrebl.middleware"}}}
                  :main-opts ["-m" "nrepl.cmdline"
                              "--interactive"
                              "--middleware" "[nrebl.middleware/wrap-nrebl,cider.nrepl/cider-middleware]"]
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
           :runner
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "test"
                        "-r" ".*\\.test\\..*"]}}}
