{:aliases {:repl {:extra-deps {nrepl {:mvn/version "0.5.3"}
                               proto-repl {:mvn/version "0.3.1"}
                               cider/cider-nrepl {:mvn/version "0.18.0"}}}
           :rebl {:extra-deps {com.cognitect.rebl {:local/root "./resources/REBL-0.9.109.jar"}
                               rickmoynihan/rebl.middleware {:local/root "../nrebl.middleware"}
                               org.clojure/clojure {:mvn/version "1.10.0-RC5"}
                               org.clojure/core.async {:mvn/version "0.4.490"}}
                  :main-opts ["-m" "nrepl.cmdline"
                              "--interactive"
                              "--middleware" "[nrebl.middleware/wrap-nrebl,cider.nrepl/cider-middleware]"]}}}
